* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-color: #004d40;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
}

/* Botão hamburger */
.hamburger {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger div {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

/* Card principal com menu e conteúdo */
.container {
    display: flex;
    min-height: 100vh;
}

/* Menu lateral esquedo fechado por padrão */
nav {
    background-color: #004d40;
    color: white;
    width: 250px;
    padding: 2rem 1rem;
    position: fixed;
    top: 60px;
    left: -250px;
    height: calc(100% - 60px);
    overflow-y: auto;
    transition: left 0.3s ease;
    z-index: 1000;
}

/* Menu hamburguer */
nav.open {
    left: 0;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 1rem 0;
}

nav ul li a {
    color: #b2dfdb;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #80cbc4;
    text-decoration: underline;
}

main {
    flex-grow: 1;
    padding: 2rem;
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

/* Quando o menu abrir, o conteudo vai para baixo */
main.shifted {
    margin-left: 250px;
}

/* Conf dos Card */
.card {
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    margin-bottom: 2rem;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-4px);
}

.card h2 {
    color: #004d40;
    margin-bottom: 1rem;
}


.accordion-header {
    cursor: pointer;
    user-select: none;
    position: relative;
    padding-right: 20px;
}

.accordion-header::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.5rem;
    line-height: 1;
    transition: transform 0.3s ease;
}

.accordion-header.active::after {
    content: "−";
    transform: rotate(180deg);
}

.accordion-content {
    display: none;
    margin-top: 1rem;
    color: #444;
}

.accordion-content.show {
    display: block;
}