{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog de notícias</title>

    <link rel="stylesheet" href="{% static "css/estilo.css" %}">
</head>
<body>

    <div class="nav">
        <ul>
            <li><a href="{% url "categoria_nova" %}">Categoria</a></li>
            <li><a href="{% url "post_novo" %}">Post</a></li>
            <li><a href="{% url "avaliacao_nova" %}">Avaliação</a></li>
            <li><a href="{% url "comentario_novo" %}">Comentario</a></li>
        </ul>
    </div>

    <!-- Código do "miolo" do site -->
    <div>
        {% block conteudo %}
        <h2>Título</h2>
        <p>Aqui vai um texto de exemplo</p>
        {% endblock conteudo %}
    </div>


    <div class="rodape">
        Desenvolvido por Natan e Emanuely
    </div>
    
</body>
</html>